<section class="py-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-primary">
          <div class="card-body px-lg-8 py-lg-7 py-5 px-7">
            <div>
              <img
                src="../assets/images/logo-icon-w.svg"
                alt="logo-icon-w"
                class="mb-5"
              />
              <h3 class="text-white fs-lg-2 fs-3 fw-bold mb-4">
                邁向你真正想過的生活，從這裡開始
              </h3>
              <p
                class="text-white fs-lg-6 fs-7 border-bottom-style-dashed pb-7 mb-5 mb-lg-7"
              >
                第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式
              </p>
              <div
                class="d-lg-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center"
              >
                <div class="d-lg-flex flex-column flex-lg-row mb-6 mb-md-0">
                  <div class="d-flex">
                    <span
                      class="material-icons-outlined align-bottom text-white me-2 fw-medium"
                    >
                      call
                    </span>
                    <span
                      class="text-white fw-medium fs-lg-5 fs-6 fs-md-5 mb-5 me-lg-7"
                    >
                      0800-123-123
                    </span>
                  </div>
                  <div class="d-flex">
                    <span
                      class="material-icons-outlined align-bottom text-white me-2 fw-medium"
                    >
                      mail
                    </span>
                    <span class="text-white fw-medium fs-lg-5 fs-6 mb-lg-5 mb-7"
                      >Sample@mail.com</span
                    >
                  </div>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn btn-dark p-4 ps-lg-6 fs-lg-7 fs-8 d-flex align-items-center justify-content-center"
                  >
                    預約免費職涯探索<span class="material-icons-outlined ms-1">
                      chevron_right
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
