<nav class="navbar navbar-expand-lg border-bottom bg-light py-4">
  <div class="container">
    <a class="navbar-brand me-auto" href="./index.html">
      <img src="/assets/images/logo.svg" alt="logo" class="" />
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0 fs-8 fs-lg-7">
        <li class="nav-item me-4">
          <a class="nav-link px-7" href="#">服務方案</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link px-7" href="#">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-7" href="#">聯絡我們</a>
        </li>
      </ul>
    </div>
    <a href="./user.html"
      ><img
        src="/assets/images/avatar.png"
        alt="avatar"
        class="rounded-circle border me-2 user-img fs-8 fs-lg-7"
      />
      <span class="fs-8 fs-lg-7">Mokumaru</span>
    </a>
    <button
      class="navbar-toggler border-0 p-3 ms-4"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
        />
      </svg>
    </button>
  </div>
</nav>
